.page {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
}

.top_title_text {
  font-family: Poppins, Poppins;
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 23px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.group_1 {
  width: 100%;
  height: 80px;
  justify-content: flex-center;
}

.group_2 {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 16px 0 0 360px;
}

.text_1 {
  width: 163px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: Poppins-Bold Italic;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 25px 0 0 12px;
}

.box_3 {
  width: 193px;
  height: 52px;
  margin: 28px 0 0 666px;
}

.text-wrapper_2 {
  width: 183px;
  height: 24px;
  margin-left: 10px;
}

.text_2 {
  width: 46px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
}

.text_3 {
  width: 77px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(35, 112, 254, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
}

.text_19 {
  width: 140px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 20, 20, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 7px;
}

.label_1 {
  width: 24px;
  height: 24px;
  margin: 28px 0 0 4px;
}

.text_4 {
  width: 30px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
  margin: 28px 360px 0 60px;
}

.box_4 {
  position: relative;
  width: 1920px;
  height: 835px;
}

.text_5 {
  width: 785px;
  height: 60px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-family: Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 60px;
  margin: 100px 0 0 568px;
}

.text_6 {
  width: 390px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  letter-spacing: 4px;
  font-family: Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 24px 0 0 765px;
}

.box_5 {
  width: 1200px;
  height: 130px;
  margin: 187px 0 0 360px;
}

.section_1 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 500px;
  height: 130px;
  border: 1px gradient;
}

.image_1 {
  width: 82px;
  height: 82px;
  margin: 24px 0 0 24px;
}

.text-group_3 {
  width: 332px;
  height: 82px;
  margin: 24px 38px 0 24px;
}

.text_7 {
  width: 296px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.text_8 {
  width: 332px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(180, 180, 180, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: normal;
  text-align: left;
  margin-top: 4px;
}

.section_2 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 500px;
  height: 130px;
}

.image_2 {
  width: 82px;
  height: 82px;
  margin: 24px 0 0 24px;
}

.text-group_4 {
  width: 332px;
  height: 82px;
  margin: 24px 38px 0 24px;
}

.text_9 {
  width: 308px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.text_10 {
  width: 332px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(180, 180, 180, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: normal;
  text-align: left;
  margin-top: 4px;
}

.text_20 {
  width: 112px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 20, 20, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 21px 0 268px 480px;
}

.group_5 {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 162px;
  width: 221px;
  position: absolute;
  left: 1249px;
  top: 2px;
  justify-content: flex-center;
}

.section_4 {
  width: 144px;
  height: 36px;
  margin: 30px 0 0 20px;
}

.label_2 {
  width: 36px;
  height: 36px;
}

.text_11 {
  width: 96px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(35, 112, 254, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 8px;
}

.section_5 {
  width: 153px;
  height: 36px;
  margin: 30px 0 30px 20px;
}

.label_3 {
  width: 36px;
  height: 36px;
}

.text_12 {
  width: 105px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 8px;
}

.group_6 {
  background-color: rgba(0, 17, 52, 1);
  width: 1920px;
  height: 166px;
  margin-top: -1px;
}

.text_13 {
  width: 332px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-family: Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
}

.box_6 {
  width: 474px;
  height: 97px;
  margin: 19px 360px 0 0;
}

.box_7 {
  width: 474px;
  height: 52px;
}

.text-group_5 {
  width: 112px;
  height: 52px;
}

.text_14 {
  width: 112px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 20, 20, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
}

.text_15 {
  width: 84px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 10px;
}

.text_16 {
  width: 89px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 31px 0 0 32px;
}

.text_17 {
  width: 181px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 31px 0 0 60px;
}

.text_18 {
  width: 378px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(152, 152, 152, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 24px 0 0 96px;
}