.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1920px;
  height: 1955px;
  overflow: hidden;
}

.box_10 {
  width: 1920px;
  height: 1955px;
}

.box_11 {
  width: 1920px;
  height: 1790px;
}

.box_1 {
  width: 1920px;
  height: 80px;
  justify-content: flex-center;
}

.group_2 {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 16px 0 0 360px;
}

.text_1 {
  width: 163px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  font-family: Poppins-Bold Italic;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 25px 0 0 12px;
}

.text_2 {
  width: 46px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(75, 88, 112, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
  margin: 28px 0 0 676px;
}

.text_3 {
  width: 77px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(75, 88, 112, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
  margin: 28px 0 0 60px;
}

.label_1 {
  width: 24px;
  height: 24px;
  margin: 28px 0 0 4px;
}

.text_4 {
  width: 30px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(75, 88, 112, 1);
  font-size: 16px;
  font-family: Source Han Sans CN-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
  margin: 28px 360px 0 60px;
}

.box_2 {
  height: 274px;
  background: url(./img/FigmaDDSSlicePNG35090f42d2e16af27f03803e8252a380.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1920px;
}

.group_3 {
  background-color: rgba(1, 19, 57, 0.9);
  height: 274px;
  width: 1920px;
}

.text-wrapper_1 {
  height: 274px;
  background: url(./img/FigmaDDSSlicePNG9daa86fff3992d6c43e086cb27181cce.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1920px;
}

.text_5 {
  width: 1200px;
  height: 144px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-family: Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  line-height: 72px;
  margin: 65px 0 0 360px;
}

.text-wrapper_4 {
  width: 788px;
  height: 36px;
  margin: 100px 0 0 571px;
}

.text_6 {
  width: 178px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(203, 203, 203, 1);
  font-size: 24px;
  font-family: Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
}

.text_7 {
  width: 198px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-family: Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
}

.box_3 {
  background-color: rgba(35, 112, 254, 0.04);
  border-radius: 16px;
  width: 1200px;
  height: 190px;
  justify-content: flex-center;
  margin: 100px 0 0 360px;
}

.group_4 {
  width: 1136px;
  height: 31px;
  margin: 32px 0 0 32px;
}

.text_8 {
  width: 570px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(33, 112, 253, 1);
  font-size: 20px;
  font-family: Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 1px;
}

.label_2 {
  width: 24px;
  height: 24px;
}

.paragraph_1 {
  width: 1136px;
  height: 63px;
  overflow-wrap: break-word;
  color: rgba(92, 102, 119, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: NaN;
  text-align: left;
  margin: 32px 0 32px 32px;
}

.box_4 {
  background-color: rgba(35, 112, 254, 0.04);
  border-radius: 16px;
  width: 1200px;
  height: 211px;
  justify-content: flex-center;
  margin: 32px 0 0 360px;
}

.group_5 {
  width: 1136px;
  height: 31px;
  margin: 32px 0 0 32px;
}

.text_9 {
  width: 437px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(33, 112, 253, 1);
  font-size: 20px;
  font-family: Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 1px;
}

.label_3 {
  width: 24px;
  height: 24px;
}

.paragraph_2 {
  width: 1136px;
  height: 84px;
  overflow-wrap: break-word;
  color: rgba(92, 102, 119, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: NaN;
  text-align: left;
  margin: 32px 0 32px 32px;
}

.box_5 {
  background-color: rgba(35, 112, 254, 0.04);
  border-radius: 16px;
  width: 1200px;
  height: 211px;
  justify-content: flex-center;
  margin: 32px 0 0 360px;
}

.group_6 {
  width: 1136px;
  height: 31px;
  margin: 32px 0 0 32px;
}

.text_10 {
  width: 461px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(33, 112, 253, 1);
  font-size: 20px;
  font-family: Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 1px;
}

.label_4 {
  width: 24px;
  height: 24px;
}

.paragraph_3 {
  width: 1136px;
  height: 84px;
  overflow-wrap: break-word;
  color: rgba(92, 102, 119, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: NaN;
  text-align: left;
  margin: 32px 0 32px 32px;
}

.box_7 {
  background-color: rgba(35, 112, 254, 0.04);
  border-radius: 16px;
  width: 1200px;
  height: 169px;
  justify-content: flex-center;
  margin: 32px 0 0 360px;
}

.block_5 {
  width: 1136px;
  height: 31px;
  margin: 32px 0 0 32px;
}

.text_11 {
  width: 386px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(33, 112, 253, 1);
  font-size: 20px;
  font-family: Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 1px;
}

.label_5 {
  width: 24px;
  height: 24px;
}

.paragraph_4 {
  width: 1136px;
  height: 42px;
  overflow-wrap: break-word;
  color: rgba(92, 102, 119, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: NaN;
  text-align: left;
  margin: 32px 0 32px 32px;
}

.box_8 {
  background-color: rgba(35, 112, 254, 0.04);
  border-radius: 16px;
  width: 1200px;
  height: 190px;
  justify-content: flex-center;
  margin: 32px 0 101px 360px;
}

.group_7 {
  width: 1136px;
  height: 31px;
  margin: 32px 0 0 32px;
}

.text_12 {
  width: 343px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(33, 112, 253, 1);
  font-size: 20px;
  font-family: Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 1px;
}

.label_6 {
  width: 24px;
  height: 24px;
}

.text_13 {
  width: 1136px;
  height: 63px;
  overflow-wrap: break-word;
  color: rgba(92, 102, 119, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: NaN;
  text-align: left;
  margin: 32px 0 32px 32px;
}

.block_4 {
  background-color: rgba(1, 19, 57, 1);
  height: 166px;
  width: 1920px;
  margin: 1789px 0 0 -1920px;
}

.section_3 {
  width: 1920px;
  height: 166px;
  background: url(./img/FigmaDDSSlicePNG467892033696b1c748aec63e3975393d.png)
    100% no-repeat;
  background-size: 100% 100%;
  justify-content: flex-center;
}

.text_14 {
  width: 332px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-family: Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
  margin: 50px 0 0 360px;
}

.text_15 {
  width: 84px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 50px 0 0 394px;
}

.section_4 {
  width: 378px;
  height: 66px;
  margin: 50px 360px 0 12px;
}

.text-wrapper_5 {
  width: 330px;
  height: 21px;
  margin-left: 48px;
}

.text_16 {
  width: 89px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
}

.text_17 {
  width: 181px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
}

.text_18 {
  width: 378px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(152, 152, 152, 1);
  font-size: 14px;
  font-family: Source Han Sans CN-Normal;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 24px;
}
